{{- if .Values.externalConfig.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "cronjob.fullname" . }}-external-config-secret
  labels:
    app: {{ template "cronjob.name" . }}
    chart: {{ template "cronjob.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  {{ .Values.externalConfig.configFileName }}: |
    {{ .Values.externalConfig.content | b64enc }}
{{- end -}}